body {
    margin: 0;
    padding: 0;
    background-color: rgb(76, 117, 135);
}


header {
    background-color: rgb(204, 85, 64);
    color: aliceblue;
    padding: 30px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}



.top-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}



.logo {
    height: 50px;
    width: auto;
    border-radius: 50px;
}



.top-header h1 {
    font-size: 28px;
    letter-spacing: 10px;
    margin: 0;
}



nav {
    font-size: 16px;
}




nav a {
    color: aliceblue;
    text-decoration: none;
    margin: 0 10px;

}




nav a:hover {
    color: yellow;
    text-decoration: underline;
}



nav a:not(:last-child)::after {
    context: "|";
    margin-left: 10px;
}




.context-section {
    max-width: 800px;
    width: 100%;
    margin: 30px auto;
    background-color: rgb(42, 165, 83);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(15, 6, 1);
}




h2 {
    text-align: center;
    color: blue;
}



p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}




.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px;
}





footer {
    text-align: center;
    background-color: #131313;
    color: #990c6c;
    padding: 30px 0;
}





.sicon a:hover {
    color: #ff4b2b;
    /* hover color */
}